span.p-Media {
    background-color: #FFD545;
    color: #755A00;
}

span.p-Alta {
    background-color: #F93434;
    color: #450202;
}


span.p-Baja {
    background-color: #09BA4A;
    color: #02451B;
}